@import "./index.scss";

.country-card {
   @include flex($direction: column);
   @include app-item($border-radius: 3px);
   width: 250px;
   height: 320px;
   margin-bottom: 40px;

   img {
      height: 150px;
      width: 100%;
   }

   h3 {
      padding: 0 15px;
      margin-bottom: 35px;
   }

   li {
      padding: 0 15px;
   }
}
