@import "./index.scss";

.country-borders {
   display: flex;
   flex-wrap: wrap;
   color: $textColor;

   p {
      width: 100%;
      margin: 40px 0 10px 0;
      font-weight: 600;
   }

   a {
      @include app-item($padding: 4px 12px, $border-radius: 2px);
      height: fit-content;
      margin: 0 12px 10px 0;
      transition: all 0.2s ease-in-out;

      &:hover {
         transform: scale(1.08);
      }
   }
}
