@import "./index.scss";

.filters {
   @include flex($justify: space-between, $align: center);
   width: 100%;
   padding: 35px 0;

   svg {
      // search and arrow bottom icons
      position: absolute;
      right: 7.9%;
      height: 23px;
      width: initial;
      color: $textColor;
      pointer-events: none;
   }

   :first-child {
      // search icon
      left: 7.9%;
   }

   input {
      background-color: $itemColor;
      box-shadow: $shadow;
      @include app-item($padding: 15px 150px 15px 45px, $border-radius: 1px);
      &::placeholder {
         color: $textColor;
      }
   }

   select {
      background-color: $itemColor;
      color: $textColor;
      box-shadow: $shadow;

      @include app-item($padding: 15px 70px 15px 17px);
      text-align: start;
      cursor: pointer;

      &:-ms-expand {
         display: none;
      }
   }
}
