@import "./index.scss";

header {
   @include flex($justify: space-between, $align: center);
   padding: 20px 7%;
   background-color: $itemColor;
   box-shadow: $shadow;
   width: 100%;
   font-size: 25px;

   a {
      // title
      color: $textColor;
      margin-right: auto;
      font-size: 28px;
      font-weight: 700;
      text-decoration: none;
   }

   button {
      @include flex($align: center);
      border: none;
      background-color: inherit;
      cursor: pointer;

      svg {
         color: $textColor;
         justify-self: flex-end;
         height: 25px;
         width: initial;
      }

      span {
         color: $textColor;
         margin-left: 5px;
         font-size: 20px;
      }
   }
}
