@import "./index.scss";

header {
   @include container();
   @include flex($justify: space-between, $align: center);
   padding: 20px 0;
   font-size: 25px;

   &::before {
      content: "";
      display: block;
      height: 75px;
      width: 100vw;
      position: absolute;
      top: 0;
      left: 0;
      background-color: $itemColor;
      box-shadow: $shadow;
      z-index: -1;
   }

   a {
      // title
      color: $textColor;
      margin-right: auto;
      font-size: 28px;
      font-weight: 700;
      text-decoration: none;
   }

   button {
      @include flex($align: center);
      border: none;
      background-color: inherit;
      cursor: pointer;

      svg {
         color: $textColor;
         justify-self: flex-end;
         height: 25px;
         width: initial;
      }

      span {
         color: $textColor;
         margin-left: 5px;
         font-size: 20px;
      }
   }
}

@media screen and (max-width: 467px) {
   header {
      a {
         font-size: 22px;
      }

      button span {
         font-size: 15px;
      }
   }
}

@media screen and (max-width: 359px) {
   header {
      a {
         font-size: 19px;
      }

      svg {
         height: 19px;
      }

      button span {
         font-size: 12px;
      }
   }
}
