html[data-theme="light"] {
  --colors-text: hsl(200, 15%, 8%);
  --colors-bg: hsl(0, 0, 98%);
  --colors-ui-base: hsl(0, 0, 100%);
  --shadow: rgba(149, 157, 165, 0.3) 0 8px 24px;
}

html[data-theme="dark"] {
  --colors-text: hsl(0, 0%, 100%);
  --colors-bg: hsl(207, 26%, 17%);
  --colors-ui-base: hsl(209, 23%, 22%);
  --shadow: rgba(0, 0, 0, 0.2) 0 0 8px;
}

$textColor: var(--colors-text);
$bgColor: var(--colors-bg);
$itemColor: var(--colors-ui-base);
$shadow: var(--shadow);

@mixin flex($direction: row, $align: initial, $justify: initial) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
}

@mixin app-item($padding: 0, $border-radius: 0) {
  color: $textColor;
  background-color: $itemColor;
  box-shadow: $shadow;
  padding: $padding;
  border-radius: $border-radius;
  text-decoration: none;
  appearance: none;
  outline: none;
  border: none;
}

* {
  box-sizing: border-box;
}

html {
  background-color: $bgColor;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 7%;
  width: 100%;
}
